extends ../layouts/default.jade

block title
  | Llinterest

block header
  h1 Welcome to Llinterest
  h2 We've got pictures!

block content
  p Llinterest utilises state of the art technology to bring you nothing but
  | the <em>best</em> pictures on the web, ranging from asinine, low-framerate
  | Tumblr gifs from the latest episode of Doctor Who to some of the best cat
  | pics ever shamelessly taken from /r/aww.